<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <%= form_for(:session, url: login_path) do |f| %>
  <div class="input-field col s6">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="input-field col s6">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>

