<p>
	<strong>Name:</strong>
	<%= @order.name %>
</p>

<p>
	<strong>Address:</strong>
	<%= @order.address %>
</p>

<p>
	<strong>Email:</strong>
	<%= @order.email %>
</p>
<p>
  <strong>Contact Number:</strong>
  <%= @order.contact %>
</p>

<p>
	<strong>Pay type:</strong>
	<%= @order.pay_type %>
</p>
<table class="stripped responsize-table bordered">
  <thead>
    <tr>
      <td>
        Name
      </td>
      <td>
        Quantity
      </td>
      <td>
        Price
      </td>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |item| %>
    <tr>
      <td>
        <%= item.product.title %>
      </td>
      <td>
        <%= item.quantity %>
      </td>
      <td>
        <%= item.total_price %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2">
        Total
      </td>
      <td>
      <%= number_to_currency (@order.line_items.map(&:total_price).sum) %>
      </td>
    </tr>
  </tbody>
</table>


Ordered At :<%= @order.updated_at %><br />